/* ForgetPassword.css */

.container-xxl {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .authentication-wrapper {
    width: 100%;
    max-width: 500px;
    padding: 1rem;
  }
  
  .card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-body {
    padding: 2rem;
  }
  
  h4 {
    font-weight: 700;
  }
  
  .alert {
    margin-bottom: 1rem;
  }
  
  .form-control {
    border-radius: 5px;
    border: 1px solid #ced4da;
    padding: 0.75rem 1rem;
    transition: border-color 0.3s, box-shadow 0.3s;
    color: #333; /* Set text color */
  }
  
  /* Add styles for focus state */
  .form-control:focus {
    border-color: #80bdff;
    outline: none;
    box-shadow: 0 0 5px rgba(128, 189, 255, 0.5);
    color: #333; /* Ensure text color is set when focused */
  }
  
  .btn {
    padding: 0.75rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
  }
  
  .text-center a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s;
  }
  
  .text-center a:hover {
    color: #0056b3;
  }
  
  .bx {
    margin-right: 0.25rem;
  }
  