.google-button {
    display: flex;
    align-items: center;
    height: 40px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    margin-top: 10px;
  }
  
  .google-button .google-icon {
    font-size: 20px;
    color: #4285F4;
  }
  