body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(67, 89, 113, 0);
}

/* .app-academy select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
} */

.app-academy select:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* Continue Button */
.btn-label-primary {
  color: #696cff;
  border-color: rgba(0, 0, 0, 0);
  background: #e7e7ff;
}
.btn-label-primary:hover {
  border-color: rgba(0, 0, 0, 0) !important;
  background: #5f61e6 !important;
  color: #fff !important;
  box-shadow: 0 0.125rem 0.25rem 0 rgba(105, 108, 255, 0.4) !important;
  transform: translateY(-1px) !important;
}
/* Delete Button */
.btn-label-secondary {
  color: #8592a3;
  border-color: rgba(0, 0, 0, 0);
  background: #ebeef0;
}
.btn-label-secondary:hover {
  border-color: rgba(0, 0, 0, 0) !important;
  background: #788393 !important;
  color: #fff !important;
  box-shadow: 0 0.125rem 0.25rem 0 rgba(133, 146, 163, 0.4) !important;
  transform: translateY(-1px) !important;
}
.row {
  --bs-gutter-x: 1.625rem;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

/* DropDown */

/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Adjust as needed */
}

.pagination .page-item {
  cursor: pointer;
}

.pagination .page-item.disabled .page-link {
  pointer-events: none;
}

.pagination .page-link {
  color: --primary-color;
  border-color: --primary-color;
}

.pagination .page-link:hover {
  background-color: #f0f0f0;
}

.pagination .page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: --primary-color;
  border-color: --primary-color;
}

/* EventModal */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity as needed */
  backdrop-filter: blur(0px); /* Apply backdrop blur effect */
  z-index: 2;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
.modal.show .modal-dialog {
  transform: translateY(0) scale(1);
}

.modal.fade .modal-dialog {
  transition: transform 0.15s ease-out;
  transform: translateY(50px) scale(0.8);
}

#button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#deleteButton {
  color: white;
  border: transparent 1px solid; /* Combined border property */
  background-color: var(--red);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px; /* Added horizontal padding for better spacing */
  border-radius: 5px;
  box-shadow: none !important;
}

#deleteButton p {
  padding: 0;
  margin: 0;
  display: flex; /* Ensure the text aligns well with the icon */
  align-items: center; /* Center the text vertically */
}
#editButton {
  color: white;
  border: 0px; /* Combined border property */
  background: none;
  border: var(--text-color) 1px solid; /* Combined border property */

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px; /* Added horizontal padding for better spacing */
  border-radius: 5px;
}

#editButton p {
  padding: 0;
  margin: 0;
  display: flex; /* Ensure the text aligns well with the icon */
  align-items: center; /* Center the text vertically */
}
#editButton {
  color: var(--text-color);
}
#deleteButton:hover {
  background-color: #ba0c2f;
}
#editButton:hover {
  background-color: #454b53;
  color: white;
}
#eventCardBody {
  color: var(--text-color);
}
@media (max-width: 760px) {
  #deleteButton,
  #editButton {
    width: 85% !important;
  }
  #button-container {
    display: flex;
    justify-content: center; /* Centers items horizontally */
    align-items: center !important;
    text-align: center !important;
  }
  #eventsContainer {
    padding: 5px;
  }
  /* #eventCardBody {
    width: 80%;
  } */
}

.layout-navbar.navbar-detached.container-xxl {
  z-index: 1;
}

/* .container-xxl {
  display: flex;
  flex-direction: column;
} */

.d-flex {
  display: flex;
  align-items: center;
}
.d-flex b {
  font-size: 18px;
}

.dates-span {
  display: flex;
  align-items: center;
}

.date-separator {
  margin: 0 5px; /* Adjust space between dates as needed */
  color: #6c757d; /* Optional: styling for separator */
}

input {
  height: 40px;
}
