.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity as needed */
  backdrop-filter: blur(0px); /* Apply backdrop blur effect */
  z-index: 2;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
.modal.show .modal-dialog {
  transform: translateY(0) scale(1);
}

.modal.fade .modal-dialog {
  transition: transform 0.15s ease-out;
  transform: translateY(50px) scale(0.8);
}

a {
  color: #566a7f;
}
.transform {
  transform: scale(1.3);
}
