.custom-card {
  --bs-card-spacer-y: 1.5rem;
  --bs-card-spacer-x: 1.5rem;
  --bs-card-title-spacer-y: 0.875rem;
  --bs-card-title-color: #566a7f;
  --bs-card-subtitle-color: ;
  --bs-card-border-width: 0;
  --bs-card-border-color: #9ba6b1;
  --bs-card-border-radius: 0.5rem;
  --bs-card-box-shadow: 2px 6px rgba(0, 0, 0, 0.12) !important;
  --bs-card-inner-border-radius: 0.5rem;
  --bs-card-cap-padding-y: 1.5rem;
  --bs-card-cap-padding-x: 1.5rem;
  --bs-card-cap-bg: transparent;
  --bs-card-cap-color: ;
  --bs-card-height: ;
  --bs-card-color: ;
  --bs-card-bg: #fff;
  --bs-card-img-overlay-padding: 1.5rem;
  --bs-card-group-margin: 0.8125rem;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 100;
  height: var(--bs-card-height);
  color: var(--bs-body-color);
  word-wrap: break-word;
  background-color: var(--bs-card-bg);
  background-clip: border-box;
  border: 1px solid rgba(69, 75, 83, 0.15);
  border-radius: var(--bs-card-border-radius);
}
.avatar i {
  font-size: 25px;
}

.card-header-title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.bx-calendar {
  font-size: 20px;
}
.card-body {
  padding: 1rem 2rem;
}

.custom-card .card-body .d-flex i {
  font-size: 1.25rem;
  line-height: 1;
}
.flex-wrap {
  flex-wrap: nowrap;
}
.h5 {
  margin-bottom: 0;
  white-space: nowrap;
}
.bx-time {
  color: var(--text-color);
}

.card-header,
.card-body {
  padding: 16px;
}

.card-header h4,
.card-body h5,
.card-body h6 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-header h4 {
  max-width: 200px; /* Adjust based on your design */
}

.card-body h5 {
  max-width: 100%; /* Adjust based on your design */
}
.card-header .workshop-title {
  max-width: 200px; /* Adjust based on your design */
}
#info-box span {
  color: var(--text-color) !important;
  font-size: 1rem !important;
}
.card-header h5,
.card-body h6 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.progress {
  background-color: #e9ecef;
}

.progress-bar {
  background-color: #007bff;
}

@media (max-width: 1000px) {
  .h5 {
    font-size: 0.9rem;
  }
}
